.swiper-pagination-bullet-active {
  border-radius: 10px;
  width: 12px;
  height: 12px;
  background-color: #84a178;
}
.swiper-pagination-bullet {
  border-radius: 10px;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
}
